@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

h1,
h2,
h3,
p,
div {
  font-family: Helvetica, "Arial Narrow", Arial, sans-serif;
}

p {
  padding: 5px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 10px 10px 5px;
}
